{% extends "base/base.html" %}
{% block content %}


<style>
    *{
        padding: 0px;
        margin: 0px;
    }

    .content{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .content .contenus{
        background-color: #fff;
        padding: 15px;
        width: 400px;
        margin-top: 60px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        border-radius: 5px;
        margin-bottom: 20px;
        border-top: 2px solid rgb(107, 95, 175);
        border-bottom: 2px solid rgb(107, 95, 175);
        
    }

    .content .contenus .titles p{
        text-align: center;
        color: #946565;
        font-size: 17px;
    }
    .content .contenus .titles p a{
        color: rgb(159, 149, 212);
        font-size: 15px;
    }
    .content .contenus form{
        width: 100%;
    }
    .content .contenus form button{
        margin-top: 8px;
        padding: 10px;
        background-color: rgb(108, 98, 158);
        color: #fff;
        margin-bottom: 8px;
    }
    .content .contenus form label{
        color: rgb(159, 149, 212);
        margin-top: 8px;
    }
    .content .contenus form input{
        border: 1px solid rgb(235, 235, 235);
        padding: 22px;
    }
    .content .contenus form select{
        padding: 22px;
    }

</style>

<div class="content">
    <div class="contenus">
        <div class="titles">
            <p>Bienvenue <br>
            Connectez-vous sur Quizline ou <br>
        <a href="{% url 'signUp' %}"><span class="fa fa-sign-out"></span>S'inscrire</a></p>
        </div>
        {% for message in messages %}
        <div class="alert alert-warning" role="alert">
              <p>{{message}}</p>
            </div>
            {% endfor %}
        <form action="" method="post">
            {% csrf_token %}
            {{form}}
            <button type="submit" class="btn btn-block">Se connecter</button>
            <p><a href="#">Mot de passe oublié ?</a></p>
        </form>
    </div>
</div>
  
{% endblock content %}