{% extends "base/base.html" %}
{% block content %}


<style>
    .content{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
    }
    .content .add{
        margin-top: 20px;
    }
    .content .add a{
        padding: 20px;
    }

    .content-table{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        width: 95%;
        margin-top: 10px;
        box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.15);
        padding: 9px;
        background-color: rgba(84, 97, 102, 0.15);
        border-top: 2px solid rgb(107, 95, 175);
        
    }
    .content-table table{
        color: #c7c6c6;
        width: 100%;
        background-color: rgba(104, 120, 126, 0.15);
    }
    .content-table table tr td a{
        color: #eb9696;
        text-transform: capitalize;
    }
</style>




<div class="content">
    <div class="add">
        <a href="{% url 'addNewCategoryQuiz' %}" class="btn btn-success">+ Ajouter les langages</a>
    </div>
    <div class="content-table">
        <div class="title">
            <p>Listes des langages</p>
        </div>
        {% for message in messages %}
        <div class="alert alert-success">
            <p>{{message}}</p>
        </div>
        {% endfor %}
        <table class="table">
            <tr>
                <th>N°</th>
                <th>Designation</th>
                <th>Niveau</th>
                <th>Description</th>
                <th>Quiz</th>
                <th>Modifier</th>
                <th>Supprimer</th>
            </tr>
            {% for liste_langage in liste_langage %}
              <tr>
                <td>{{forloop.counter}}</td>
                <td>{{liste_langage.title}}</td>
                <td>{{liste_langage.Level.title}}</td>
                <td>{{liste_langage.description|truncatewords:8}}</td>
                <td><a href="{% url 'quizByCategory' liste_langage.id %}">Quiz</a></td>
                <td><a href="{% url 'updateCategoryQuiz' liste_langage.id %}">modifier</a></td>
                <td><a href="{% url 'deleteCategoryQuiz' liste_langage.id  %}">supprimer</a></td>

              </tr>
              {% empty %}
              <tr>
                <td colspan="5">Pas langage actuellement</td>
              </tr>
            {% endfor %}
        </table>
    </div>
  
</div>

{% endblock content %}